**It is a reshaping technique**

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('D:\\Data Science\\Code basics\\py-master\\pandas\\12_stack\\stocks.xlsx', header=[0,1], index_col=[0])
df

              Price                  Price to earnings ratio (P/E)         \
Company    Facebook Google Microsoft                      Facebook Google
2017-06-05      155    955        66                         37.10   32.0
2017-06-06      150    987        69                         36.98   31.3
2017-06-07      153    963        62                         36.78   31.7
2017-06-08      155   1000        61                         36.11   31.2
2017-06-09      156   1012        66                         37.07   30.0


Company    Microsoft
2017-06-05     30.31
2017-06-06     30.56
2017-06-07     30.46
2017-06-08     30.11
2017-06-09     31.00

In [3]:
df.stack()

                      Price  Price to earnings ratio (P/E)
           Company
2017-06-05 Facebook     155                          37.10
           Google       955                          32.00
           Microsoft     66                          30.31
2017-06-06 Facebook     150                          36.98
           Google       987                          31.30
           Microsoft     69                          30.56
2017-06-07 Facebook     153                          36.78
           Google       963                          31.70
           Microsoft     62                          30.46
2017-06-08 Facebook     155                          36.11
           Google      1000                          31.20
           Microsoft     61                          30.11
2017-06-09 Facebook     156                          37.07
           Google      1012                          30.00
           Microsoft     66                          31.00

In [4]:
df.stack(level =0)

Company                                   Facebook  Google  Microsoft
2017-06-05 Price                            155.00   955.0      66.00
           Price to earnings ratio (P/E)     37.10    32.0      30.31
2017-06-06 Price                            150.00   987.0      69.00
           Price to earnings ratio (P/E)     36.98    31.3      30.56
2017-06-07 Price                            153.00   963.0      62.00
           Price to earnings ratio (P/E)     36.78    31.7      30.46
2017-06-08 Price                            155.00  1000.0      61.00
           Price to earnings ratio (P/E)     36.11    31.2      30.11
2017-06-09 Price                            156.00  1012.0      66.00
           Price to earnings ratio (P/E)     37.07    30.0      31.00

In [5]:
df_stacked = df.stack()
df_stacked

                      Price  Price to earnings ratio (P/E)
           Company
2017-06-05 Facebook     155                          37.10
           Google       955                          32.00
           Microsoft     66                          30.31
2017-06-06 Facebook     150                          36.98
           Google       987                          31.30
           Microsoft     69                          30.56
2017-06-07 Facebook     153                          36.78
           Google       963                          31.70
           Microsoft     62                          30.46
2017-06-08 Facebook     155                          36.11
           Google      1000                          31.20
           Microsoft     61                          30.11
2017-06-09 Facebook     156                          37.07
           Google      1012                          30.00
           Microsoft     66                          31.00

In [6]:
df_stacked.unstack() ## for getting the original Dataframes

              Price                  Price to earnings ratio (P/E)         \
Company    Facebook Google Microsoft                      Facebook Google
2017-06-05      155    955        66                         37.10   32.0
2017-06-06      150    987        69                         36.98   31.3
2017-06-07      153    963        62                         36.78   31.7
2017-06-08      155   1000        61                         36.11   31.2
2017-06-09      156   1012        66                         37.07   30.0


Company    Microsoft
2017-06-05     30.31
2017-06-06     30.56
2017-06-07     30.46
2017-06-08     30.11
2017-06-09     31.00

In [7]:
## Using another file

df2 = pd.read_excel('D:\\Data Science\\Code basics\\py-master\\pandas\\12_stack\\stocks_3_levels.xlsx', header=[0,1,2], index_col=[0])
df2

        Price Ratios                                                        \
               Price                  Price to earnings ratio (P/E)
Company     Facebook Google Microsoft                      Facebook Google
Q1 2016          155    955        66                         37.10   32.0
Q2 2016          150    987        69                         36.98   31.3
Q3 2016          153    963        62                         36.78   31.7
Q4 2016          155   1000        61                         36.11   31.2
Q1 2017          156   1012        66                         37.07   30.0

                  Income Statement                                     \
                         Net Sales                  Net Profit
Company Microsoft         Facebook Google Microsoft   Facebook Google
Q1 2016     30.31              2.6     20     18.70       0.80   5.43
Q2 2016     30.56              3.1     22     21.30       0.97   5.89
Q3 2016     30.46              4.3     24     21.45       1.20   6.10
Q4 2016     30.11              6.7     26     21.88       1.67   6.50
Q1 2017     31.00              8.1     31     22.34       2.03   6.40



Company Microsoft
Q1 2016      4.56
Q2 2016      5.10
Q3 2016      5.43
Q4 2016      5.89
Q1 2017      6.09

In [8]:
df2.stack()

                  Income Statement           Price Ratios  \
                        Net Profit Net Sales        Price
        Company
Q1 2016 Facebook              0.80      2.60          155
        Google                5.43     20.00          955
        Microsoft             4.56     18.70           66
Q2 2016 Facebook              0.97      3.10          150
        Google                5.89     22.00          987
        Microsoft             5.10     21.30           69
Q3 2016 Facebook              1.20      4.30          153
        Google                6.10     24.00          963
        Microsoft             5.43     21.45           62
Q4 2016 Facebook              1.67      6.70          155
        Google                6.50     26.00         1000
        Microsoft             5.89     21.88           61
Q1 2017 Facebook              2.03      8.10          156
        Google                6.40     31.00         1012
        Microsoft             6.09     22.34           66


                  Price to earnings ratio (P/E)
        Company
Q1 2016 Facebook                          37.10
        Google                            32.00
        Microsoft                         30.31
Q2 2016 Facebook                          36.98
        Google                            31.30
        Microsoft                         30.56
Q3 2016 Facebook                          36.78
        Google                            31.70
        Microsoft                         30.46
Q4 2016 Facebook                          36.11
        Google                            31.20
        Microsoft                         30.11
Q1 2017 Facebook                          37.07
        Google                            30.00
        Microsoft                         31.00

In [11]:
## using the level
df2.stack(level = 2)

                  Income Statement           Price Ratios  \
                        Net Profit Net Sales        Price
        Company
Q1 2016 Facebook              0.80      2.60          155
        Google                5.43     20.00          955
        Microsoft             4.56     18.70           66
Q2 2016 Facebook              0.97      3.10          150
        Google                5.89     22.00          987
        Microsoft             5.10     21.30           69
Q3 2016 Facebook              1.20      4.30          153
        Google                6.10     24.00          963
        Microsoft             5.43     21.45           62
Q4 2016 Facebook              1.67      6.70          155
        Google                6.50     26.00         1000
        Microsoft             5.89     21.88           61
Q1 2017 Facebook              2.03      8.10          156
        Google                6.40     31.00         1012
        Microsoft             6.09     22.34           66


                  Price to earnings ratio (P/E)
        Company
Q1 2016 Facebook                          37.10
        Google                            32.00
        Microsoft                         30.31
Q2 2016 Facebook                          36.98
        Google                            31.30
        Microsoft                         30.56
Q3 2016 Facebook                          36.78
        Google                            31.70
        Microsoft                         30.46
Q4 2016 Facebook                          36.11
        Google                            31.20
        Microsoft                         30.11
Q1 2017 Facebook                          37.07
        Google                            30.00
        Microsoft                         31.00